<section class="dty-page page-width{% if section.settings.wide_layout %} dty-page--wide{% endif %}">
  <header class="dty-page__header">
    <h1 class="dty-page__title">{{ page.title }}</h1>
  </header>
  <div class="dty-page__content rte">
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Página",
  "class": "section-main-page",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_layout",
      "label": "Ancho completo",
      "default": false
    }
  ]
}
{% endschema %}
